.pane{
    -fx-background-image: url("stars.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

.clearback{
    -fx-background-color: transparent;
}